# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.opensdf
*.suo

# Precompiled Headers
*.gch
*.pch
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
*.log

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


trunk_fish/cocos2d/cocos/2d/Debug.win32/*
trunk_fish/proj.win32/Debug.win32/*
trunk_fish/cocos2d/plugin/*
